body::-webkit-scrollbar {
  display: none; /* Chrome、Safari和Opera */
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: auto;
  -ms-overflow-style: none; /* IE和Edge */
  scrollbar-width: none; /* Firefox */
  margin: 0;
  padding: 0;
}
