@font-face {
  font-family: "TitleFont";
  src: url("../font/云峰静龙行书.ttf") format("opentype");
}
@font-face {
  font-family: "IntroduceFont";
  src: url("../font/庞门正道粗书体.ttf") format("opentype");
}
@font-face {
  font-family: "SpringFont";
  src: url("../font/演示春风楷.ttf") format("opentype");
}
@font-face {
  font-family: "AlimamaFont";
  src: url("../font/Alimama_DongFangDaKai_Regular.ttf") format("opentype");
}
